[Desktop Entry]
Name=Onboarding
Type=Application
StartupNotify=false
StartupWMClass=onboardingWindow
Exec=/usr/bin/onboarding %f
Icon=/usr/lib/onboarding/icon.svg
Comment=CarbonCopy Onboarding Service
Terminal=false
Categories=GNOME

[Desktop Action Applications]
Name=Install Applications
Exec=/usr/bin/onboarding flatpak

[Desktop Action Tweaks]
Name=Setup Tweaks
Exec=/usr/bin/onboarding tweaks

[Desktop Action Rebase]
Name=Rebase to other version
Exec=/usr/bin/onboarding rebase