[Desktop Entry]
Type=Application
Name=Quick Setup
Exec=quicksetup firstrun
OnlyShowIn=GNOME;
AutostartCondition=unless-exists quicksetup/firstrun.disable